.table-wrapper {
  height: 400px;
  overflow-y: auto;
}

.ant-spin {
  margin-top: 10px;
}

.user-display {
  margin: 100px;
  border-spacing: 0 30px;
  border-collapse: separate;
}

.user-display tr {
  margin: 10px;
}

.user-display td {
  width: 15%;
}