@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.ant-layout-header {
  background: #108ee9;
  padding: 0;
  line-height: 64px;
  height: 48px;
}

.ant-layout-content {
  height: calc(100vh - 117px);
  overflow-y: auto;
}